/* Reset */
*,
*::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* list-style: none; */
}

/* Root Variable */
:root {
    --color-primary-dark: #FF5722;
    --color-primary-light: #FF7A50;
    --color-secondary-light:#FFF6F2;
    --color-secondary-dark:#FFA589;
    --color-navbar-: #F8F8F8;
    --color-headings:#000;
    --color-white:#fff;
    --color-body:333333;
    --color-border:#DDDDDD;
}

html {
    font-size: 62.5%;
}

body {
    color:var(--color-body);
    font-size: 1.4rem;
    line-height: 2.7rem;
    text-align: justify;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h5 {
    color: var(--color-headings);
    font-weight: 700;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2.2rem;
    margin-bottom: 1.5rem;
}

h5 {
    font-weight: 400;
    font-size: 1.6rem;
}

h3 {
    font-size: 20px;
}

@media screen and (min-width: 1024px) {
    body {
        font-size: 1.5rem;
    }

    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 3.5rem;
        margin-bottom: 3rem;
    }

    h5 {
        font-weight: 500;
        font-size: 1.4rem;
    }
}


/* Button */
.btn {
    cursor: pointer;
    outline: 0;
    border: 0;
    padding: 2rem 2.5rem;
    border-radius: 8px;
    margin: 1rem 0;
    text-align: center;
    white-space: nowrap;
    font-size: 1.4rem;
}

.btn--primary {
    background-color: var(--color-primary-dark);
    color: var(--color-white);
}

.btn--secondary {
    background-color: var(--color-secondary-dark);
    color: var(--color-white);
}

.btn--block {
    width: 100%;
    font-size: 1.6rem;
    font-weight: 700;
}

@media screen and (min-width: 1024px) {

    .btn {
        font-size: 1.6rem;
    }

    .btn--block {
        font-size: 2rem;
    }
}

/* Badge */
.badge {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1.3rem;
    font-size: 1.2rem;
    text-align: center;
    border: 2px solid var(--color-primary-dark);
    border-radius: 32px;
    background-color: var(--color-white);
    color: var(--color-primary-dark);
    text-transform: uppercase;
}

.badge--primary {
    background-color: var(--color-primary-dark);
    color: var(--color-white);
}

@media screen and (min-width: 1024px) {
    .badge {
        font-size: 1.4rem;
    }
}

/* List */

.list {
    list-style: none;
    font-size: 1.6rem;
}

.list--inline .list__item {
    display: inline-block;
    margin-left: 2rem;
}
/* 
.list--tick .list__item::before{
    content: "";
    background: url(/assets/images/square-tick.svg) no-repeat;
    padding-right: 3rem;
} */

.list--tick .list__item {
    background: url(/assets/images/check-mark1.svg) no-repeat right center;
    padding-right: 6rem;
    margin-bottom: 1rem;

}

@media screen and (min-width:1024px) {
    .list--tick .list__item {
        font-size: 1.8rem;
    }
}

/* Plan Section */

.plan-block {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,320px));
    justify-content: center;
    gap: 8rem 6rem;
}

.plan--popular {
    transform: scale(1.1);
}

.plan--popular:hover{
    transform: scale(1.15);
}

.plan {
    background-color: var(--color-white);
    max-width: 500px;
    transition: all 0.2s ease-out;
  }

.plan:hover {
    transform: scale(1.05);
}


.card {
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 20px 10px #ededed;
}

.card-header,
.card-body {
    padding: 3rem 2.5rem;
}

.card-header {
    border-radius: 20px 20px 0 0;
    background-color: var(--color-primary-light);
    color:var(--color-white);
}

.card-header--secodary{
    background-color: var(--color-secondary-dark);
}

  .card-header__status {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  .card-header__description {
      font-size: 1.8rem;
  }

  .cart-header__price-text {
      font-size: 1.4rem;
  }
  
  .card-header__price-value {
      font-size: 3rem;
  }

  .card-body {
      background-color: var(--color-secondary-light);
      line-height: 5rem;
  }

  .card-body .list {
      margin-bottom: 9rem;
  }

    /* Container */
    .container {
        max-width: 1140px;
        margin: 0 auto;
    }

    /* Feature Block With Grid */

    .feature-block {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(360px,150px));
        justify-content: center;
        gap: 8rem 6rem;
        margin-top: 5rem;
    }

    .feature {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .feature__text {
        margin-bottom: 3rem;
    }

    .feature .btn {
        padding: 1.2rem 3rem;
    }

    .feature .btn--primary {
        display: block;
        margin-top: 3rem;
    }

    .feature__description-title {
        margin-bottom: 3rem;
    }

    .feature__img {
        width: 100%;
        height: auto;
        padding: 20px;
    }

    .feature__description {
        width: 100%;
        height: 100%;
    }

     @media screen and (min-width: 1024px) {
         .feature-block {
            grid-template-columns: 1fr;
            grid-template-rows: 600px 600px;
            margin-top: 0;
            gap: 1rem 6rem;
         }
        .feature {
            flex-direction: row;      
          }

        .feature__img {
            width: 50%;
            height: auto;
        }

        .feature__description {
            width: 50%;
        }

        .feature--direction {
            flex-direction: row-reverse;
        }
    }

    /* Feature Block With Flex */

    .feature-wrapper {
        display: flex;
        flex-direction: column;
    }

    .feature {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .feature__image {
        width: 100%;
        max-width: 400px;
        height: auto;
        margin-bottom: 3.8rem;
        margin-top: 8rem;
        text-align: center;
    }

    .feature__caption {
        width: 100%;
    }

    @media  screen and (min-width:1024px) {

        .feature{
            flex-direction: row;
            justify-content: space-between;
        }

        .feature__image {
            width: 50%;
            margin-bottom: 0;
        }

        .feature__image--order{
            order:2;
        }

        .feature__caption {
            width: 50%;
        }


    }
    
    /* Contact Us */

    .contact-us {
        display: grid;
    }

    .contact-us__title {
        text-align: center;
    }

    .contact-us__social-media {
        margin: 3rem 0 5rem 0;
        text-align: center;
        color: var(--color-primary-dark);
        order: 1;
    }

    .contact-us__info-address-item {
        display: flex;
        align-items: center;
        order: 3;
    }

    .contact-us__info-address-item > i {
        padding: 1.5rem;
        color: var(--color-primary-dark);
        font-size: 2.5rem;
    }   

    .contact-us__social-media i {
        font-size: 35px;
        padding: 10px;
    }

    .contact-us__form {
        text-align: center;
        border: 1px solid var(--color-border);
        border-radius: 20px;
        box-shadow: 0 10px 15px 3px #ededed;
        padding: 4.9rem;
        margin-top: 6rem;
    }

    .contact-us__form form {
        text-align: left;
    }

    .contact-us__form-title {
        margin-bottom: 4.9rem;
    }

    .contact-us__form input[type=text] {
        width: 100%;
        text-align: left;
        outline: 0;
        border: 1px solid #E8E8E8;
        border-radius: 39px;
        padding: 1.9rem 2rem;
        margin-bottom: 4.5rem;
        background-color: #F5F5F5;
    }

    ::placeholder {
        font-size: 1.2rem;
        color:#333;
        font-family: "iranyekan";
    }

    .contact-us__form textarea {
        width: 100%;
        outline: 0;
        background-color: #F5F5F5;
        border: 1px solid #E8E8E8;
        padding: 1.9rem 2rem;
        text-align: left;
        resize: none;
    }

    .contact-us__form .btn {
        border-radius: 3.5rem;
        padding: 1.8rem 3.8rem;
        margin-top: 4rem;
    }

    .contact-us__map {
        display: none;
        order: 2;
    }


    @media screen and (min-width:1024px) {

        .contact-us {
            grid-template-columns: 1fr 1fr 1fr;
        }

        .contact-us__title {
            grid-column: 1 / 4;
        }

        .contact-us__info {
            grid-column: 1 / 3;
            display: flex;
            flex-direction: column;
            padding: 20px;
        }

        .contact-us__map {
            display: block;
            text-align: center;
        }

        .contact-us__social-media {
            order: 3;
            text-align: left;
        }

        .contact-us__info-address-item {
            flex-direction: column;
            order: 1;
            width: 30%;
            text-align: center;
        }

        .contact-info__address {
            display: flex;
            justify-content: center;
            margin: 6rem;
        }

        .contact-us__form textarea {
            padding: 1.2rem 1.5rem;
        }
    }

    /* Footer Designed By Flex */

    .footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        background-color: #000;
        padding: 20px;
    }

    .footer-item {
        display: flex;
        flex-direction: column;
        margin-bottom: 3rem;
    }

    .tapsi-logo {
        color:#000;
    }

    .tapsi-logo img {
        width: 150px;
        margin-bottom: 1.5rem;
    }

    .footer-item .footer-item__text {
        color: #ededed;
        font-size: 1.2rem;
    }

    .tapsi-logo .copy-right {
        display: none;
    }

    .footer-item__title {
        color: var(--color-white);
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }

    .footer-item__link {
        text-decoration: none;
        color: #ededed;
        line-height: 3rem;
        font-size: 1.4rem;
    }

    .footer-item + .footer-logo {
        flex-direction: row;
        justify-content: space-around;
    }

    .footer-logo img {
        display: block;
        width: 100%;
        height: auto;
        max-width: 100px;
        background-color: var(--color-white);
        border-radius: 10px;
        padding: 10px;
        /* margin-left: 10px; */
    }

    .footer-social {
        width: 100%;
    }

    .footer-social .footer-social__title {
        display: none;
        font-size: 1.4rem;
        color: var(--color-white);
    }

    .footer-social .copy-right {
        color: #bebaba;
    }

    .footer-social i {
        font-size: 3rem;
        color: #b6b4b4;
        padding: 10px;
    }

    .footer-social__icon {
        display: flex;
        justify-content: space-around;
    }

    @media screen and (min-width:1024px) {
        .footer {
            flex-direction: row;
            padding: 100px;
        }

        .tapsi-logo .copy-right {
            display: block;
            text-align: right;
            font-size: 1rem;
            color: #bebaba
        }

        .tapsi-logo .copy-right {
            width: 50%;
        }

        .footer-social__icon {
            justify-content: flex-start;
        }

        .footer-social .footer-social__title {
            display: block;
        }

        .footer-social .copy-right {
            display: none;
        }

        .footer-logo img {
            max-width: 120px;
            margin-left: 10px;
        }
    }

    /* Footer Designed By Grid */
    .main-footer {
        background-color: #000;
        padding: 40px 0;
    }

    .main-footer .footer-item {
        margin-bottom: 2rem;
    }

    .main-footer .footer {
        display: grid;
        grid-template-columns: 1fr;
        padding: 0 20px;
    }

    .main-footer .footer-item {
        text-align: right;
    }

    .main-footer p {
        font-size: 1rem;
        color: #ededed;
    }

    .main-footer h3 {
        font-size: 1rem;
        color: var(--color-white);
    }

    .main-footer .footer-logo{
        justify-content: space-between;
    }

    @media screen and (min-width:992px) {
        .main-footer .footer {
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows:1fr 200px 80px
        }

        .main-footer .footer-social {
            grid-column: 1/5;
            grid-row: 3/4;
        }

        .main-footer .footer-social__icon {
            justify-content: flex-start;
        }

        .main-footer .footer-logo {
            grid-column: 3/5;
            justify-content: space-around;
        }

        .main-footer .copy-right {
            display: none;
        }

        .main-footer .footer-social__title {
            display: block;
        }

        .main-footer .footer-item img{ 
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    @media screen and (min-width:1024px) {
        .main-footer .footer {
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: 1fr 200px 80px;
            column-gap: 2rem;
        }

        .main-footer .footer-item {
            margin: 0;
        }

        .main-footer .copy-right{
            display: block;
            width: 100%;
            color: var(--color-border);
            font-size: 0.8rem;
        
        }

        .main-footer .footer-social__title {
            display: none;
        }

        .main-footer .footer-logo {
            grid-column: 1/5;
            justify-content: flex-start;
            align-items: center;
        }
    }

    /* Header */

    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        background-color: var(--color-navbar-);
    }

    .nav img {
        padding: 1rem 4rem;
    }

    .nav .nav-toggler {
        padding: 1rem 4rem;
    }

    .nav .btn {
        display: none;
    }

    .nav-line {
        order: 1;
        width: 100%;
        border-top: 1px solid #ededed;
    }

    .nav-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        order:2
    }

    .nav-item {
        color: #545454;
        list-style: none;

    }

    .nav-item a {
        display: block;
        padding: 1rem 2rem;
        background-color: #fff;

    }

    .nav-item a:hover {
        color: var(--color-primary-dark);
    }

    @media screen and (min-width:768px) {

        .nav {
            justify-content: space-around;
        }
        
        .nav-toggler {
            display: none;
        }

        .nav-line {
            order: 3;
        }

        .nav-list {
            flex-direction: row;
            width: auto;
            order:1;
        }

        .nav-item a {
            background-color: unset;
        }
    }

    @media screen and (min-width:992px) {

        .nav .btn {
            display: inline;
            order: 2;
            padding: 1rem 4rem;
        }
    }

    /* Navbar */

    .nav-list {
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transition: all 0.4s ease-in-out;
    }

    .nav__expanded .nav-list{
        max-height: 100%;
        opacity: 1;
        overflow: visible;
    }

    @media screen and (min-width:768px) {
        .nav-list { 
            max-height: 100%;
            opacity: 1;
        }
    }

    .bar {
        width: 25px;
        height: 3px;
        background-color: #1a1616;
        margin: 5px 0;
        border-radius: 5px;
        transition: all 0.4s ease-out;
    }

    .nav.nav__expanded .bar-one {
        transform: rotate(-45deg) translate(-22px, 7px);
        margin: 8px 0;
    }
  
    .nav.nav__expanded .bar-two {
        opacity: 0;
        transform: translateX(-20px);
    }
    .nav.nav__expanded .bar-three {
      transform: rotate(45deg) translate(-9px, 6px);
      margin: 8px 0;
  }
  
  /* Hero Section */
  
  .hero-wrapper {
      position: relative;
      width: 100%;
      height: auto;
  }

  .hero-wrapper .banner-img {
      width: 100%;
      height: 478px;
      object-fit: cover;
  }

  .hero-btn-container {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  }

  .hero-btn-content {
      padding: 20px;
      width: 270px;
      background-image: linear-gradient(51deg,rgba(23,26,60,.7) 5%,rgba(23,26,60,.3) 95%);
      border-radius: 20px;
      color: var(--color-white);
      text-align: right;
  }

  .hero-btn-content h1 {
      color: var(--color-white);
      margin-bottom: 1rem;
  }

  .hero-btn-content h2{
      color: var(--color-white);
      font-size: 1.5rem;
      margin-bottom: 2rem;
  }

  .hero-btns {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .wpa-icon::before {
    content: url(/assets/images/ic-pwa.svg);
  }

  .hero-btn-item {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
  }

  .hero-btn {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      padding: 10px 15px;
      border: 1px solid var(--color-white);
      margin-bottom: 1rem;
      border-radius: 10px;
  }


  .hero-btn i {
    width: 35px;
    height: 35px;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    font-size: 2rem;
  }

  .hero-btn span {
      margin-left: auto;
      margin-right: auto;
  }

  .hero-btn--white {
      background-color: white;
      color: black;
  }

  .hero-mobile-view {
      display: none;
  }

@media screen and (min-width:768px) {

    .hero-btn-container {
        justify-content: flex-start;
        padding: 100px;
    }

    .hero-btn-item {
        flex-direction: row;
        width: 100%;
    }

    .hero-btn-item a{
        margin-left: 1.5rem;
        width: 50%;
    }

    .hero-btn-content {
        width: 528px;
    }

    .hero-btn-content h1 {
        font-size: 3rem;
        margin-bottom: 2rem;
    }

    .hero-btn-content h2 {
        font-size: 2rem;
        font-weight: 200;
    }
}

@media screen and (min-width:1024px) {
    .hero-mobile-view {
        display: inline;
        position: absolute;
        left: 10%;
        bottom: -280px;
        width: 100%;
        height: auto;
        max-width: 400px;
    }
}
  