<section class="feature-block container">
    <div class="feature feature--direction">
      <img
        src="/assets/images/feature5.jpg"
        alt="feature"
        class="feature__img"
      />
      <div class="feature__description">
        <h2 class="feature__description-title">
          خدمات تپسی برای کسب و کارها
        </h2>
        <span class="feature__description-text">
          لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
          استفاده از طراحان گرافیک است. لورم ایپسوم متن ساختگی با تولید سادگی
          نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. لورم ایپسوم
          متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
          گرافیک است.
          <button class="btn btn--primary">ورود و ثبت نام پنل سازمانی</button>
        </span>
      </div>
    </div>
    <div class="feature">
      <img
        src="/assets/images/faeture3.webp"
        alt="feature"
        class="feature__img"
      />
      <div class="feature__description">
        <h2 class="feature__description-title">
          خدمات تپسی برای کسب و کارها
        </h2>
        <span class="feature__description-text">
          لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
          استفاده از طراحان گرافیک است. لورم ایپسوم متن ساختگی با تولید سادگی
          نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. لورم ایپسوم
          متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
          گرافیک است.
          <button class="btn btn--primary">ورود و ثبت نام پنل سازمانی</button>
        </span>
      </div>
    </div>
  </section>