<footer class="main-footer">
    <div class="container footer">
      <div class="footer-item tapsi-logo">
        <img src="/assets/images/tapsi-logo-white.svg" alt="" />
        <h3>اپلیکیشن درخواست خودرو و پیک</h3>
        <p class="copy-right">
          تمام حقوق مادی و معنوی این وب سایت متعلق به تپسی
        </p>
      </div>

      <div class="footer-item">
        <h6 class="footer-item__title">تپسی</h6>
        <a href="#" class="footer-item__link">وبلاگ تپسی</a>
        <a href="#" class="footer-item__link">فرصت های شغلی</a>
        <a href="#" class="footer-item__link">تماس با ما</a>
        <a href="#" class="footer-item__link">لوگو و هویت سازمانی</a>
        <a href="#" class="footer-item__link">معرفی راننده به تپسی</a>
      </div>
      <div class="footer-item">
        <h6 class="footer-item__title">مسافران</h6>
        <a href="#" class="footer-item__link">دانلود اپ مسافر</a>
        <a href="#" class="footer-item__link">نسخه وب تپسی</a>
        <a href="#" class="footer-item__link">تپرسش های متداول مسافران</a>
        <a href="#" class="footer-item__link">شرایط و قوانین مسافران</a>
        <a href="#" class="footer-item__link">باشگاه مشتریان</a>
      </div>
      <div class="footer-item">
        <h6 class="footer-item__title">رانندگان</h6>
        <a href="#" class="footer-item__link">دانلود اپ سفیر</a>
        <a href="#" class="footer-item__link"
          >ثبت نام راننده تاکسی اینترنتی</a
        >
        <a href="#" class="footer-item__link">تپرسش های متداول سفیران</a>
        <a href="#" class="footer-item__link">شرایط و قوانین سفیران</a>
        <a href="#" class="footer-item__link">باشگاه سفیران</a>
      </div>
      <div class="footer-item">
        <h6 class="footer-item__title">کسب و کارها</h6>
        <a href="#" class="footer-item__link">پنل سازمانی تپسی</a>
        <a href="#" class="footer-item__link">خرید کد اعتبار و تخفیف</a>
        <a href="#" class="footer-item__link">دریافت API</a>
      </div>
      <div class="footer-item footer-logo">
        <img src="/assets/images/etehadiye.png" alt="etehadiye" />
        <img src="/assets/images/p30web-samandehi.png" alt="samandehi" />
        <img src="/assets/images/namad1.png" alt="e-namad" />
      </div>
      <div class="footer-item footer-social">
        <h3 class="footer-social__title">تپسی در شبکه های اجتماعی</h3>
        <p class="copy-right">
          تمام حقوق مادی و معنوی این وب سایت متعلق به تپسی است.
        </p>
        <div class="footer-social__icon">
          <i class="far fa-paper-plane"></i>
          <i class="fab fa-twitter"></i>
          <i class="fab fa-linkedin"></i>
          <i class="fab fa-facebook-square"></i>
        </div>
      </div>
    </div>
  </footer>