<header class="main-header">
    <div class="nav container">
      <img src="/assets/images/tapsi-logo.svg" alt="" />
      <div class="nav-toggler">
        <div class="bar bar-one"></div>
        <div class="bar bar-two"></div>
        <div class="bar bar-three"></div>
      </div>
      <a href="#" class="btn btn--primary">دانلود تپسی</a>
      <hr class="nav-line">
      <ul class="nav-list">
        <li class="nav-item"><a>وبلاگ</a></li>
        <li class="nav-item"><a>فرصت های شغلی</a></li>
        <li class="nav-item"><a>خدمات کسب و کارها</a></li>
        <li class="nav-item"><a>معرفی راننده</a></li>
        <li class="nav-item"><a>پشتیبانی</a></li>
      </ul>
    </div>
  </header>