<section class="plan-block container">
    <div class="plan">
      <div class="card">
        <header class="card-header card-header--secodary">
          <div class="card-header__status">
            <span class="card-header__description">عادی</span>
            <span class="badge">10% OFF</span>
          </div>
          <div class="card-header__price">
            <span class="card-header__price-value">290,000</span>
            <span class="card-header__price-text">ماهانه / تومان</span>
          </div>
          <div class="card-header__description">سرویس ماشین های معمولی</div>
        </header>
        <div class="card-body">
          <ul class="list list--tick">
            <li class="list__item">کیفیت معمولی</li>
            <li class="list__item">کیفیت معمولی</li>
            <li class="list__item">کیفیت معمولی</li>
            <li class="list__item">کیفیت معمولی</li>
          </ul>
          <button class="btn btn--secondary btn--block">
            ورود و ثبت نام سازمانی
          </button>
        </div>
      </div>
    </div>
    <div class="plan plan--popular">
      <div class="card">
        <header class="card-header">
          <div class="card-header__status">
            <span class="card-header__description">عادی</span>
            <span class="badge badge--primary">10% OFF</span>
          </div>
          <div class="card-header__price">
            <span class="card-header__price-value">290,000</span>
            <span class="card-header__price-text">ماهانه / تومان</span>
          </div>
          <div class="card-header__description">سرویس ماشین های معمولی</div>
        </header>
        <div class="card-body">
          <ul class="list list--tick">
            <li class="list__item">کیفیت معمولی</li>
            <li class="list__item">کیفیت معمولی</li>
            <li class="list__item">کیفیت معمولی</li>
            <li class="list__item">کیفیت معمولی</li>
          </ul>
          <button class="btn btn--primary btn--block">
            ورود و ثبت نام سازمانی
          </button>
        </div>
      </div>
    </div>
    <div class="plan">
      <div class="card">
        <header class="card-header card-header--secodary">
          <div class="card-header__status">
            <span class="card-header__description">عادی</span>
            <span class="badge">10% OFF</span>
          </div>
          <div class="card-header__price">
            <span class="card-header__price-value">290,000</span>
            <span class="card-header__price-text">ماهانه / تومان</span>
          </div>
          <div class="card-header__description">سرویس ماشین های معمولی</div>
        </header>
        <div class="card-body">
          <ul class="list list--tick">
            <li class="list__item">کیفیت معمولی</li>
            <li class="list__item">کیفیت معمولی</li>
            <li class="list__item">کیفیت معمولی</li>
            <li class="list__item">کیفیت معمولی</li>
          </ul>
          <button class="btn btn--secondary btn--block">
            ورود و ثبت نام سازمانی
          </button>
        </div>
      </div>
    </div>
  </section>